node_modules

# Output
.output
.vscode/
.vercel
.netlify
.wrangler
/.svelte-kit
/build
drizzle/
.svelte-kit/

/src/lib/app/database/migrations/

# OS
.DS_Store
Thumbs.db

# Env
.env*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#graphify
.graphify_detect.json
.graphify_python
graphify-out